@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo global */
body {
  background-color: #c3cce9;
}

.controlesMobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 100;
}

.resultadosMobile {
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  background-color: #c3cce9; /* bg-inf3 */
}

.controlesDesktop {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.resultadosDesktop {
  padding-left: 286px;
}
